{% ckan_extends %}
{% block secondary %}{% endblock %}
{% block organizations_search_form %}
    {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Packages Descending'), 'package_count desc'), (_('Packages Ascending'), 'package_count asc'), (_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}