{% ckan_extends %}


{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
  {% block organizations_search_form %}
    {# org_with_dataset is present two times, don't ask me why, inheritence should apply ! #}
    {% set org_with_dataset = c.page.items | rejectattr('package_count', 'equalto', 0) | list %}
    {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=org_with_dataset|count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}

  {% block organizations_list %}
  {% set org_with_dataset = c.page.items | rejectattr('package_count', 'equalto', 0) | list %}
    {% if org_with_dataset or request.params %}
      {% if org_with_dataset %}
        {% snippet "organization/snippets/organization_list.html", organizations=org_with_dataset %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary %}{% endblock %}
