<div role="main" class="hero">
  <div class="container">
    {% block search %} {% snippet 'home/snippets/search.html' %} {% endblock %}
    <div class="home-grid"></div>
    <ul class="media-grid">
      {% for thm in h.theme_thematics() %}
      <li class="media-item">
        <img
          src="{{ thm.image_display_url }}"
          alt="{{ thm.name }}"
          class="media-image img-responsive"
        />
        <h3 class="media-heading">{{ thm.display_name }}</h3>
        <a
          href="{{ h.url_for('/dataset?groups=' + thm.name.encode('utf8')) }}"
          title="Afficher {{ thm.display_name }}"
          class="media-view"
        >
          <span>Afficher {{ thm.display_name }}</span>
        </a>
      </li>
      {% endfor %}
      <li class="clearfix js-hide"></li>
    </ul>
  </div>
</div>
