

/*global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
.wrapper-xl {
    max-width: 1170px;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display:none;
}

/*overrides main.css*/
body {
    font-family: "Raleway";
    font-size: 1.2em;
    line-height: 1.42857143;
    background: #fff;
}
.banner {
    z-index: 1;
}
#nav {
    margin-top: 2rem;
}
header.header-home nav .logo {
    margin-top: 0;
}
header.header-home nav .logo img {
    max-height: 72px;
    width: auto;
}
header.header-home nav .titre_site {
    padding: 0 10px;
    display: flex;
    align-items: center;
}
header.header-home nav .titre_site h1 {
    margin:0
}
header.header-home nav .titre_site h1 .baseline span {
    font-weight: 400;
    line-height: 1.5;
}
header.header-home nav .titre_site h1 .baseline strong {
    font-weight: 900;
}
header nav .logo > span, header nav .titre_site h1 {
    *font-size: 2em;
}
header.header-home nav .titre_site h1 > span:first-child {
    display: none;
}
header.header-home nav .titre_site h1 .baseline {
    max-width: 60rem;
    color: #444;
}
header.header-home nav .button-nav {
    position: relative;
    top:auto;
    right:auto;
    display: flex;
    min-width: 169px;
}
header.header-home nav .button-nav a {
    margin: 7px 10px;
    display: block;
}
b, strong {
    font-weight: 700;
}

.btn {
  background-color: #005ea3;
}
footer nav a {
    font-size: 1em;
    color: #005ea3;
    margin: 0 0 0 10px;
    padding: 0 5px 0 0px;
}
header.header-home nav .nav::before {
    display: none;
}

#nav .nav-barre {
    border-top: 2px solid #bebebe
}
#nav {
    border-bottom: 2px solid #bebebe
}
.banner {
    height:400px;
}
.button-nav .padlock svg {
    height: 2.7rem;
    width: 2.7rem;
    stroke: #005EA3;
}


.button-nav .padlock.link_doc span{
    color: #005ea3;
}

.banner .img-slider {
    display: none;
}
.carousel-footer .carousel {
    flex: 1;
    margin-left: 10px;
}
.carousel-footer{
    margin-bottom: 2rem;
}
figure img {
    height: auto;
}
footer {
    margin-top: 0;
}

/*recherche*/
#recherche {
    z-index: 2;
    position: relative;
}
#recherche .wrap {
    margin-top: -60px;
}
#recherche .form_search {
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    width: auto;
    float: none;
    margin: 0 30px;
    padding: 20px 30px 0 30px;
}
#recherche .form_search .field {   
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
}
#recherche .form_search #field-sitewide-search {
    background-color: #f7f7f7;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px 0 0 5px;
    color:#45a2de;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    padding: 10px 20px;
    height: auto;
    line-height: initial;
    -moz-box-shadow: inset 1px 1px 5px 0px rgba(9,9,9,0.10);
    -webkit-box-shadow: inset 1px 1px 5px 0px rgba(9,9,9,0.10);
    -o-box-shadow: inset 1px 1px 5px 0px rgba(9,9,9,0.10);
    box-shadow: inset 1px 1px 5px 0px rgba(9,9,9,0.10);
}
#recherche .form_search #field-sitewide-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #45a2de;
}
#recherche .form_search #field-sitewide-search::-moz-placeholder { /* Firefox 19+ */
    color: #45a2de;
}
#recherche .form_search #field-sitewide-search:-ms-input-placeholder { /* IE 10+ */
    color:#45a2de;
}
#recherche .form_search #field-sitewide-search:-moz-placeholder { /* Firefox 18- */
    color:#45a2de;
}
#recherche .form_search #searchsubmit {
    background-color: #45a2de;
    /*
    background-image: url(../images/svg/loupe.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    color: transparent;
    */
    height: auto;
    width: 85px;
    border: 0;
    border-radius: 0 5px 5px 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#recherche .form_search #searchsubmit i {
    color: #fff;
    font-size: 28px;
}
#recherche .form_search #searchsubmit:hover{
    opacity: 0.9;
}
#recherche .picto_recherche{
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
#recherche .picto_recherche > a {
    color: #a7a7a7;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Roboto,sans-serif;
    *display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 5px 5px 25px 5px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    *min-height: 125px;
    vertical-align: middle;
    width: 90%;
}
#recherche .picto_recherche > a:hover{
    color: #002880;
    background-color: #ececec;
}
#recherche .picto_recherche > a:hover svg path,
#recherche .picto_recherche > a:hover svg {
    fill:  #002880 !important;
}
#recherche .picto_recherche > a div {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top 0px center;
}
#recherche .picto_recherche > a:hover div{
    background-position: top -60px center;
}
#recherche .picto_recherche > a svg{
    height: 40px;
    width: 50px;
    display: inline-block;
    margin:0 auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#recherche .picto_recherche > a span {
    width: 100%;
    display: inline-block;
    /*padding-top: 15px;*/
}
/*blocs*/
#blocs {
    width: 100%;
}
#blocs .bloc_content:first-child {
    background-color: #28abb3;
}
#blocs .bloc_content:last-child{
    background-color: #b2061e;
}
#blocs .bloc_content a {
    font-size: 18px;
    text-transform: uppercase;
    padding:10px 0;
    display: block;
    width: 100%;
    color: #ffffff;
    font-weight: 300;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#blocs .bloc_content a:hover span{
    opacity: 0.5;
}
#blocs .bloc_content a span {
    display: inline-block;
    background-repeat: no-repeat;
}
/*chiffres*/
#chiffres {
    background-color: #1873ac;
    padding: 20px 0 0;
    display: inline-block;
    width: 100%;
    float: left;
}
#chiffres h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
}
#chiffres .chiffres_content {
    text-align: center;
}
#chiffres .chiffres_content div {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 0 15px 20px;
    min-width: 34%;
}
#chiffres .chiffres_content div strong {
    font-size: 21px;
    display: block;
    /*! font-family: "Raleway"; */
    position: relative;
    /*background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position:left center;
    padding-left: 40px;*/
}

#chiffres .chiffres_content div i {
    color: #52a7cc;
}

/* */

.button-nav .padlock i {    
    font-size: 2.7rem;
    color: #005ea3;
}


.rs {    
    justify-content: flex-begin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
}
.rs p:first-child { 
    width: 100%;
}
.rs p {
    margin: 5px;
}
.rs, .rs a {
    color: #005EA3;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}
.rs a i {
    font-size: 25px;
}

#cookie_action_close_header {
    margin: 0 10px;
}

header nav .logo > span, header nav .titre_site h1 {
    font-size: 1.2em;
}

#nav .flex-jbetween {    
    margin: auto;
}
header.header-home nav .logo {
    display: none;
}
header.header-home nav .titre_site .logo {
    display: block;
    margin-right: 10px;
}

#blocs {
    display: flex;
    justify-content: center;
}
#blocs .bloc_content {
    width: 50%;
    text-align: center;
}
.carousel-footer .carousel .wrapper-carousel .view-carousel a {
    flex: 1 0 50%;
}
#footer .img {
    width: 100%;
    margin: 0 auto 20px;
}
footer nav {
    margin: auto;
}
@media only screen and (min-width: 30em){

    #recherche .picto_recherche > a {
        width: 45%;
    }
}
@media only screen and (min-width: 34em){
    #blocs .bloc_content {
        text-align: right;
    }
    #blocs .bloc_content a span {
        background-size: auto 100%;
    }

    #blocs .bloc_content:first-child a span {
        background-image: url(../images/crayon.png);
        background-position: right center;
        /*! float: right; */
        margin-right: 40px;
        text-align: left;
        padding-left: 10px;
        padding-right: 75px;
    }
    #blocs .bloc_content:last-child a span {    
        background-image: url(../images/loupe.png);
        background-position: 0 center;
        float: left;
        padding-left: 75px;
        padding-right: 10px;
        margin-left: 40px;
    }
    #chiffres h2 {
        font-size: 18px;
    }
    .flex {
        display: flex;
        align-items:center;
    } 
}

@media only screen and (min-width: 650px){
    header nav .logo > span, header nav .titre_site h1 {
        font-size: 1.4em;
    }
    .flex, flex-1, .flex-acenter, .flex-jbetween, .flex-jaround {
        display: flex;
        align-items:center;
    } 
    .flex-jbetween, .flex-jaround {
        width:100%;
    }
    .flex-acenter {
        align-items:center;
    }
    .flex-jbetween {
        justify-content: space-between;
    }
    .flex-jaround {
        justify-content: space-around;
    }
    .flex-1 {
        flex:1;
    }
    header.header-home nav .button-nav {
        display: block;
    }
    header.header-home nav .button-nav a {
        margin: 0 0 7px 0;
    }
    #chiffres .chiffres_content div strong {
        font-size: 28px;
    }
    #chiffres .chiffres_content div {
        min-width: 0%;
    }
    #recherche .picto_recherche > a {
        width: 145px;
        min-width:0;
    }
    .carousel-footer .carousel {
        margin-left: 20px;
    }
    #footer .img {
        max-width: 350px;
    }
    .rs {    
        justify-content: flex-end;
    }
    .rs p:first-child { 
        width: auto;
    }
}
@media only screen and (min-width: 50em){
    header nav .logo > span, header nav .titre_site h1 {
        font-size: 1.6em;
    }
    #blocs .bloc_content a {
        font-size: 23px;
    }
    #blocs .bloc_content:first-child a span {
        margin-right: 80px;
        padding-right: 135px;
    }
    #blocs .bloc_content:last-child a span {
        padding-left: 135px;
        padding-right: 0;
        margin-left: 80px;
    }
    #blocs .bloc_content a span {
        background-size: auto auto;
    }
    #chiffres h2 {
        font-size: 26px;
    }
    #chiffres .chiffres_content div strong {
        font-size: 30px;
    }
    .carousel-footer .carousel .wrapper-carousel .view-carousel a {
        flex: 1 0 33%;
    }
    footer nav a {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 75em){
    header nav .logo > span, header nav .titre_site h1 {
        font-size: 1.8em;
    }
    #nav .flex-jbetween {
        justify-content: space-between;
    }
    header.header-home nav .logo {
        display: block;
    }
    header.header-home nav .titre_site .logo {
        display: none;
    }
    #chiffres h2, #blocs .bloc_content a {
        font-size: 30px;
    }
    #chiffres .chiffres_content div strong {
        font-size: 35px;
    }
    .carousel-footer .carousel {
        margin-left: 10%;
    }
    .carousel-footer .carousel .wrapper-carousel .view-carousel a {
        flex: 1 0 25%;
    }
}
@media only screen and (min-width: 90em){
    header nav .logo > span, header nav .titre_site h1 {
        font-size: 2em;
    }
    header.header-home nav .titre_site {
        min-width: 446px;
    }
    #footer .img {
        max-width: 400px;
    }
}
