{#
Renders a list of the links available for a given resource (usage example in resource_read.html)
#}

  {% if res.format.lower() == 'wms' %}
      <a href="/mapfishapp/?owsurl={{ res.url }}&owstype=WMS&layername={{ res.name }}" class="{{ cls }} resource-url-analytics" target="_blank">
          <i class="fa fa-external-link"></i>
          {{ _('View resource in map') }}
      </a>
  {% elif res.format.lower() == 'wfs' %}
      <a href="/mapfishapp/?owsurl={{ res.url }}&owstype=WFS&layername={{ res.name }}" class="{{ cls }} resource-url-analytics" target=_blank>
          <i class="fa fa-external-link"></i>
          {{ _('View resource in map') }}
      </a>
  {% elif res.format.lower() == 'geojson' %}
      <a href="/mapfishapp/?file={{ res.url }}" class="{{ cls }} resource-url-analytics" target="_blank">
          <i class="fa fa-external-link"></i>
          {{ _('View resource in map') }}
      </a>
      <a href="{{ res.url }}" class="{{ cls }} resource-url-analytics" target="_blank">
        <i class="fa fa-arrow-circle-o-down"></i>
        {{ _('Download') }}
      </a>
  {% else %}
      <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
      {% if res.resource_type in ('listing', 'service') %}
        <i class="fa fa-eye"></i> {{ _('View') }}
      {% elif  res.resource_type == 'api' %}
        <i class="fa fa-key"></i> {{ _('API Endpoint') }}
      {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
        <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
      {% else %}
        <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
      {% endif %}
    </a>
  {% endif %}
